.heroes {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    font-family: 'Jura', sans-serif;

    .characters {
        padding: 15px 5px;
        border-right: 1px solid #777;
        color: #777;
        writing-mode: vertical-rl;
        text-orientation: upright;
        text-transform: uppercase;
        box-shadow: inset -10px 0px 5px -9px #000000;
    }

    .heroes-wrapper {
        display: flex;
        flex-wrap: wrap;
        padding-left: 10px;

        > a {
            position: relative;
            width: 61px;
            height: 90px;

            &:after {
                display: block;
                position: absolute;
                bottom: 5px;
                left: 5px;
                color: rgba(#fff, .9);
                font-size: 10px;
                text-shadow: 0 1px 3px #000;
                content: attr(data-text);
            }

            > img {
                position: relative;
                display: block;
                width: 61px;
                height: 90px;
                padding: 3px;
                transition: transform ease .1s;

                &:after {
                    position: absolute;
                    top: 0;
                    left: 0;
                    display: block;
                    content: attr(data-text);
                }

                &:hover {
                    position: absolute;
                    bottom: 0;
                    left: calc(50% - 30px);
                    padding: 0;
                    box-shadow: 0 0 3px 1px #000;
                    transform: scale(1.7, 1.7);
                    z-index: 999;                  
                }
            }
        }
    }
}