.items-container {
    display: flex;
    flex-direction: column;
    font-family: 'Jura', sans-serif;

    .items {
        display: flex;
        justify-content: center;
        margin-top: 15px;
    
        > div {
            margin: 0 25px;
        }
    }
}