.preview-wrap {
    display: flex;
    position: relative;
    justify-content: space-between;
    min-height: 350px;

    &:after {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        background: linear-gradient(270deg, #10161c, #364e64);
        background-size: 200% 200%;
        filter: blur(5vw);
        transform: scale(0.75);
        content: "";
        z-index: -1;
    }

    &.preview-wrap-reverse {
        flex-direction: row-reverse;

        .preview-text {
            text-align: right;
        }

        .preview-image {
            
            img {
                left: -15px;
                width: 352px;
            }
        }
    }
    
    .preview-text {
        flex: 2;
        padding: 15px 20px;
        color: #fff;
        font-family: 'Jura', sans-serif;
        

        h1 {
            margin-bottom: 15px;
        }
        
        p {
            margin-bottom: 10px;
            font-size: 20px;
        }

        span {
            position: relative;
            display: block;
            margin-left: 10px;
            padding-left: 15px;
            color: #fff;
            line-height: 2;
            
            &:before {
                position: absolute;
                top: calc(50% - 19px);
                left: 0;
                color: #fff;
                font-size: 20px;
                content: '\2022';
            }
        }

        .button {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 200px;
            height: 40px;
            margin-top: 25px;
            border: 1px solid #1f2021;
            border-radius: 4px;
            background-color: #464f57;
            color: #fff;
            text-decoration: none;
            background: linear-gradient(to bottom, #848484 0%, #464f57 100%);
            transition: box-shadow .2s ease-in-out;

            &:hover {
                box-shadow: inset 0 0 60px rgba(0, 0, 0, .4), 0 0 20px rgba(64, 64, 64, .4);
            }

            &:focus {
                outline: none;
            }
        }
    }
    
    .preview-image {
        position: relative;
        flex: 1;

        img {
            position: absolute;
            width: 285px;
            top: -45px;
            right: 20px;
            filter: drop-shadow(0 0 10px rgba(0,0,0, .5));
        }
    }
}