.main-item {
    display: flex;
    flex-direction: column;
    //margin: 0 50px;

    h3 {
        padding-top: 5px;
        background-color: rgba(0, 0, 0, .2);
        color: rgba(#fff, .8);
        text-align: center;
        text-transform: uppercase;
    }

    .wrapper {
        display: flex;
        flex-wrap: wrap;
        width: 255px;
        padding: 5px;
        background-color: rgba(0, 0, 0, .2);

        &.improved-wrapper {
            width: 305px;
        }

        > a {
            cursor: pointer;

            .item-logo {
                display: block;
                width: 45px;
                height: 30px;
                margin: 2px;
            }

            &[tooltip] {
                position: relative;

                &:before, &:after {
                    position: absolute;
                    display: none;
                    font-size: .9em;
                    line-height: 1;
                    text-transform: none;
                    pointer-events: none;
                    user-select: none;
                    opacity: 0;
                }

                &:before {
                    content: '';
                    border: 5px solid transparent;
                    z-index: 1001;
                }

                &:after {
                    min-width: 3em;
                    max-width: 21em;
                    overflow: hidden;
                    padding: 1ch 1.5ch;
                    border-radius: .3ch;
                    box-shadow: 0 0 60px rgba(0, 50, 255, 0.4);
                    background-color: rgba(68, 68, 68, .8);;
                    color: rgba(255, 255, 255, .8);;
                    text-align: center;
                    text-overflow: ellipsis;
                    text-transform: capitalize;
                    white-space: nowrap;
                    content: attr(tooltip);
                    z-index: 1000;
                }

                &:hover::before,
                &:hover::after {
                    display: block;
                }

                &[flow^="down"]::before {
                    top: 100%;
                    border-top-width: 0;
                    border-bottom-color: #273f27;
                }

                &[flow^="down"]::after {
                    top: calc(100% + 5px);
                }

                &[flow^="down"]::before,
                &[flow^="down"]::after {
                    left: 50%;
                    transform: translate(-50%, .5em);
                }

                @keyframes tooltips-vert {
                    to {
                        opacity: .9;
                        transform: translate(-50%, 0);
                    }
                }
                  
                @keyframes tooltips-horz {
                    to {
                        opacity: .9;
                        transform: translate(0, -50%);
                    }
                }

                &:not([flow]):hover::before,
                &:not([flow]):hover::after,
                &[flow^="down"]:hover::before,
                &[flow^="down"]:hover::after {
                    animation: tooltips-vert 300ms ease-out forwards;
                }
            }
        }        
    }    
}

