.skill-tooltip {
    position: absolute;
    top: 0;
    left: -58%;
    width: 260px;
    border: 2px solid #1C242D;
    box-shadow: 0 0 10px 1px #000;
    background-color: rgba(#282a2c, .95);
    color: #C4C4C4;
    z-index: 999;

    .title {
        display: flex;
        padding: 5px 7px;
        border-bottom: 2px solid #000;
        background-color:rgba(#2E3740, .9);
        color: #fff;

        > img {
            width: 40px;
            height: 40px;
            margin-right: 10px;
            box-shadow: 0 0 3px 1px #000;
        }

        .skill-info {
            display: flex;
            flex-direction: column;

            .skill-name {
                text-shadow: 0 3px 3px #000;
            }

            .skill-owner {
                color: rgba(0, 0, 0, .7);
                font-size: 13px;
                line-height: 20px;
            }
        }
    }

    .about {
        display: flex;
        flex-direction: column;
        //margin: 4px 3px;
        padding: 4px 7px;
        font-size: 11px;
        line-height: 1.6;

        p {

            span {
                color: #fff;
            }
        }

        .immunity, .deflation {

            > span {
                font-size: 12px;

                &.red {
                    color: red;
                }

                &.green {
                    color: green;
                }
            }
        }
    }

    .description, .about-aghanim {
        margin: 4px 3px;
        padding: 4px 7px;
        box-shadow: inset 0 0 3px 1px #000;
        background-color: #1C242D;
        font-size: 13px;
        overflow: hidden;
    }

    .about-aghanim {

        filter: hue-rotate(34deg);
        
        .improvement {
            margin-bottom: 6px;
            text-shadow: 2px 2px 5px #000;
        }

        .about-text {

            > p {
                &:first-child {
                    text-shadow: 1px 1px 2px red;
                }
            }
        }
    }

    .effects {
        padding: 4px 7px;
        font-size: 12px;

        .effect {
            color: #C4C4C4;
            line-height: 1.4;
            text-transform: uppercase;
            
            .action {
                margin-left: 5px;
                color: #fff;
                letter-spacing: 1.1px;
                text-shadow: 0 0 1px #fff;
                opacity: .9;
            }
        }
    }
}