.skill-tooltip {
    position: absolute;
    top: 110%;
    left: 0;
    width: 300px;
    border: 2px solid #1C242D;
    box-shadow: 0 0 10px 1px #000;
    background-color: rgba(#282a2c, .95);
    color: #C4C4C4;
    z-index: 999;

    .title {
        display: flex;
        padding: 5px 7px;
        border-bottom: 2px solid #000;
        background-color:rgba(#2E3740, .9);
        color: #fff;

        > img {
            width: 40px;
            height: 40px;
            margin-right: 10px;
            box-shadow: 0 0 3px 1px #000;
        }

        .skill-info {
            display: flex;
            flex-direction: column;

            .skill-name {
                text-shadow: 0 3px 3px #000;
            }

            .skill-owner {
                color: rgba(0, 0, 0, .7);
                font-size: 13px;
                line-height: 20px;
            }
        }
    }

    .about {
        display: flex;
        flex-direction: column;
        //margin: 4px 3px;
        padding: 4px 7px;
        font-size: 12px;
        line-height: 1.6;

        p {

            span {
                color: #fff;
            }
        }

        .immunity, .deflation {

            > span {

                &.red {
                    color: red;
                }

                &.green {
                    color: green;
                }
            }
        }
    }

    .description {
        margin: 4px 3px;
        padding: 4px 7px;
        box-shadow: inset 0 0 3px 1px #000;
        background-color: #1C242D;
        font-size: 14px;

        .improvement {
            margin-top: 10px;
        }
    }
}