.info-container {
    display: flex;
    flex-direction: column;
    
    h3 {
        padding-top: 5px;
        background-color: rgba(0, 0, 0, .2);
        color: rgba(#fff, .8);
        text-align: center;
        text-transform: uppercase;
    }

    .wrapper {
        width: 260px;
        padding: 10px;
        background-color: rgba(0, 0, 0, .2);
        
        .fade-in {
            animation: fade-in 300ms ease-out forwards;

            @keyframes fade-in {
                0% {opacity: 0;}
                50% {opacity: .5;}
                100% {opacity: 1;}
            }
        }

        .info-head {
            display: flex;
            margin-bottom: 10px;

            img {
                display: block;
                width: 50px;
                height: 35px;
                margin-right: 10px;
                background-color:rgba(0, 0, 0, .5);
            }

            .title {
                color: #fff;
                font-size: 12px;
                letter-spacing: 1.4px;
                font-weight: 700;
                text-transform: uppercase;
            }

            .price {
                position: relative;
                padding-left: 18px;
                color: #f3c32c;
                font-family: sans-serif;
                font-weight: 700;
                font-size: 12px;
                line-height: 16px;

                &:before {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 16px;
                    height: 16px;
                    background: url('../../../image/gold.png') no-repeat;
                    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
                    content: '';
                }
            }
        }

        .about {

            .about-main {
                margin-bottom: 15px;
                padding: 5px;
                background-color: rgba(#273f27, .3);
                color: #677560;
                font-size: 12px;
                
                .use {
                    padding: 2px;
                    background-image: linear-gradient(to right, #273f27 0%, #192721 51%, transparent 100%);
                    color: #8ab271;
                    font-size: 14px;

                    span {
                        display: inline-block;
                        
                        &:first-letter {
                            text-transform: uppercase;
                        }
                    }
                }
            }

            .notation {
                padding: 5px;
                background-color: #7a8b99;
                color: #343d43;
                font-size: 12px;
            }
        }
    }
}