.info-container {
    display: flex;
    flex-direction: column;
    

    h3 {
        color: rgba(#fff, .8);
        text-align: center;
        text-transform: uppercase;
    }

    .wrapper {
        padding: 10px;
        border: 1px solid #000;

        .info-head {
            display: flex;
            margin-bottom: 10px;

            img {
                display: block;
                width: 50px;
                height: 30px;
                margin-right: 10px;
                background-color:rgba(0,0,0, .5);
            }

            .title {
                color: #fff;
                font-size: 12px;
                letter-spacing: 1.4px;
                font-weight: 700;
                text-transform: uppercase;
            }

            .price {
                position: relative;
                padding-left: 18px;
                color: #f3c32c;
                font-family: sans-serif;
                font-weight: 700;
                font-size: 12px;
                line-height: 16px;

                &:before {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 16px;
                    height: 16px;
                    background: url('../../../image/gold.png') no-repeat;
                    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
                    content: '';
                }
            }
        }

        .description {

            .description-head {
                background-image: linear-gradient(to right, #273f27 0%, #192721 51%, transparent 100%);

                .use {
                    color: #8ab271;
                }
            }
        }
    }
}