@import url('https://fonts.googleapis.com/css?family=Exo+2:600|Jura:700|Russo+One');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

body {
    background-color:darken(#1b242c, 4%);
}
.App {
        
    .container {
        margin: 0 auto;
        padding: 0 20px;

        .list {
            display: flex;
            justify-content: center;
            margin: 40px 0 50px;
            
            .link {
                display: flex;
                align-items: flex-end;
                justify-content: flex-end;
                width: 250px;
                height: 160px;
                margin-right: 40px;
                padding: 10px;
                border-radius: 5px;
                filter: grayscale(100%);
                will-change: transform;
                transition: .3s ease;
                
                &:last-child {
                    margin-right: 0;
                }

                &:hover {
                    transform: scale(1.05);
                    border-color: #c35b43;
                    box-shadow: 0 0 60px rgba(0,50,255,.4);
                }

                &:focus {
                    outline: none;
                }

                &.react-tabs__tab--selected {
                    filter: grayscale(0);
                    box-shadow: 0 0 60px rgba(0,50,255,.4);
                }

                &.heroes {
                    background: url('../image/1.jpg') no-repeat;
                    background-size: cover;
                }

                &.items {
                    background: url('../image/2.jpg') no-repeat;
                    background-size: cover;
                }

                &.creeps {
                    background: url('../image/3.jpg') no-repeat;
                    background-size: cover;
                }

                span {
                    color: white;
                    font-family: 'Jura', sans-serif;
                    text-shadow: 
                        0 0 5px rgba(255,245,0,1),
                        0 0 28px rgba(255,44,0,0.9),
                        0 8px 38px black,
                        0 8px 10px black,
                        0 2px 12px black,
                        0 0 50px rgba(255,120,0,0.5),
                        0 0 24px rgba(255,255,255,0.8);
                }
            }
        }

        .preview {
            max-width: 1000px;
            min-height: 100%;
            margin: 0 auto;
            background-color:rgba(0,0,0,.4);
        }
    }
}